<div class="row">
  <div class="col-md-12">
      <mat-tab-group>
          <mat-tab label="Datos de Entrada">
              <app-datos-entrada></app-datos-entrada>
          </mat-tab>
          <mat-tab label="Format">
              <app-format></app-format>
          </mat-tab>
          <mat-tab label="Bean Request">
              <app-bean-request></app-bean-request>
          </mat-tab>
          <mat-tab label="Bean Response">
              <app-bean-response></app-bean-response>
          </mat-tab>
          <mat-tab label="Schema">
              <app-schema></app-schema>
          </mat-tab>
          <mat-tab label="V-Json">
              <app-vjson></app-vjson>
          </mat-tab>
      </mat-tab-group>
  </div>
</div>


