.posicionCheck {
    position: relative;
    top: 20px;
}

.expandido {
    min-height: 500px;
}

.posicionDelete {
    position: relative;
    top: 3px;
}

.titulo {
    font-size: 20px;
}

:host::ng-deep {

    .sinCheck {
        .mat-checkbox-inner-container{
            display: none;
        }
    }
    
}
